/* =========================================================
   WFESC ENGINE BOOT
========================================================= */

#wfesc-engine-boot{
    position:fixed;
    inset:0;
    z-index:999999;

    background:#020202;
    color:#fff;

    display:flex;
    align-items:center;
    justify-content:center;

    opacity:1;
    visibility:visible;

    transition:
        opacity .8s ease,
        visibility .8s ease;
}

#wfesc-engine-boot.hidden{
    opacity:0;
    visibility:hidden;
    pointer-events:none;
}

.wfesc-engine-content{
    text-align:center;
    direction:ltr;
}

.wfesc-engine-powered{
    font-size:10px;
    letter-spacing:5px;
    color:#555;
    margin-bottom:12px;
}

.wfesc-engine-title{
    font-family:Arial,Tahoma,sans-serif;
    font-size:38px;
    font-weight:bold;
    letter-spacing:10px;
}

.wfesc-engine-subtitle{
    margin-top:10px;
    font-size:11px;
    letter-spacing:7px;
    color:#666;
}

.wfesc-engine-loader{
    width:240px;
    height:2px;
    background:#151515;
    margin:35px auto 0;
    overflow:hidden;
}

.wfesc-engine-loader span{
    display:block;
    width:0;
    height:100%;
    background:#fff;

    animation:
        wfesc-engine-load 4s linear forwards;
}

@keyframes wfesc-engine-load{

    from{
        width:0;
    }

    to{
        width:100%;
    }

}
